.card-container{
    display: flex;
    flex-direction: column;
    background-color: #66ad79;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}

